.navbar {
    background-color: var(--bs-white);
    padding-top: 1rem !important;
    padding-bottom: var(--end-space) !important;
    a {
        color: var(--bs-grey-800);
        text-align: center;
        text-decoration: none;
        font-size: 0.8rem;
        i.bi {
            display: block;
            font-size: 1.2rem;
            padding-right: 0;
        }
    }
    a.active {
        color: var(--bs-orange);
        font-weight: bold;
        font-size: 0.8rem;
        i.bi {
            font-size: 1.2rem;
        }
    }
}

/* .navbar {
    background-color: $orange;
    background: -webkit-linear-gradient($btn-gradient);
    background: linear-gradient($btn-gradient);
    border-top-left-radius: 0.8rem !important;
    border-top-right-radius: 0.8rem !important;
    border-bottom-left-radius: 0.8rem !important;
    border-bottom-right-radius: 0.8rem !important;
    padding: ($end-space - 1) 0 !important;
    margin: 0 1.25rem 1rem 1.25rem !important;
    container {
        padding: 0;
    }
    a {
        color: $white;
        text-align: center;
        text-decoration: none;
        font-size: 0.8rem;
        i.bi {
            font-size: 1.2rem;
            padding-right: 0.3rem;
        }
        span {
            display: none;
        }
    }
    a.active {
        color: $white;
        font-size: 0.8rem;
        i.bi {
            font-size: 1.2rem;
        }
        span {
            display: inline;
        }
    }
}
 */
