.avatar {
    --avatar-size: 28px;
    display: inline-block;
    width: var(--avatar-size);
    height: var(--avatar-size);
    line-height: var(--avatar-size);
    vertical-align: middle;
}

.avatar-fallback {
    text-align: center;
    border-color: var(--bs-gray-800) !important;
    color: var(--bs-gray-800);
    background-color: var(--bs-gray-100);
    font-weight: bold;
    font-size: calc(var(--avatar-size) * 0.4);
}
