$orange: #ff5500;
$orange-100: #fefaf7;
$green: #004921;
$cyan: #17a2b8;
$yellow: #ffcc00;
// $yellow: #ffc107;
// $red: #dc3545;
// $red: #ff3d00;
$red: #eb2f00;
$gray-100: #f8f9fa;
$gray-800: #343a40;
$theme-colors: (
    primary: $orange,
    secondary: $green,
    success: $green,
    info: $cyan,
    warning: $yellow,
    danger: $red,
    light: $gray-100,
    dark: $gray-800,
    orange-100: $orange-100,
);

// From adobe
// $red: #DC1A00
// blue: #00516D
// yellow: #FAAB0C
// 1 verde olive: #3F7C63
// verde brillante #00512F
//n azul claro #5B9FB6

// $standard-gradient: 208deg, #e7592e 0%, #eb2f00 30%, #ff5500 70%, #ff5500 90%;
$standard-gradient: 201deg, #e7592e 0%, #eb2f00 30%, #eb2f00 50%, #ff5500 70%, #ff5500 90%;
$btn-gradient: 201deg, #e7592e 0%, #eb2f00 3%, #ff5500 70%, #ff5500 90%;
// $body-bg: #fefaf7;

$spacer: 0.9rem;

$font-family-sans-serif: "Nunito", sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: inherit;

$font-weight-lighter: lighter !default;
$font-weight-light: 200 !default;
$font-weight-normal: 300 !default;
$font-weight-medium: 400 !default;
$font-weight-semibold: 500 !default;
$font-weight-bold: 600 !default;
$font-weight-bolder: bolder !default;

$font-weight-base: $font-weight-normal !default;

$headings-color: inherit;

$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-sm: 0.875rem;
$small-font-size: 0.875em;
$badge-font-size: 0.575em;

$line-height-base: 1.25;

$border-radius: 0.4rem;
$border-radius-lg: 0.3rem;
$border-radius-sm: 0.2rem;

$input-btn-padding-y: 0.4rem;
$input-btn-padding-x: 0.65rem;
$input-btn-line-height: 1.15;

$form-check-input-checked-bg-color: $orange;
$form-check-input-focus-box-shadow: 0 0 0 0.25rem rgba(255, 85, 0, 0.25);

$link-color: $orange;

$offcanvas-vertical-height: 50vh;

$end-space: 2.125rem;

:root {
    --end-space: 2.125rem;
}
$end-container-space: 6.95rem;

.btn-primary {
    --bs-btn-color: #fff;
    background: -webkit-linear-gradient($btn-gradient);
    background: linear-gradient($btn-gradient);
}

.btn.btn-outline-primary {
    &:hover,
    &:active,
    &:focus {
        color: #fff;
        background: -webkit-linear-gradient($btn-gradient);
        background: linear-gradient($btn-gradient);
    }
}

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";

.bg-white-25 {
    --bs-bg-opacity: 0.25;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

.bg-accent-15 {
    --bs-bg-opacity: 0.15;
    --bs-accent-rgb: 255, 187, 167;
    background-color: rgba(var(--bs-accent-rgb), var(--bs-bg-opacity)) !important;
}

body {
    background-color: #fefaf7 !important;
}

header {
    /* border-radius: 0px 0px 50% 50%; */
    background: -webkit-linear-gradient($standard-gradient);
    background: linear-gradient($standard-gradient);

    /* --mask:
          radial-gradient(34.24px at 50% calc(100% - 46.5px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
          radial-gradient(34.24px at 50% calc(100% + 16.5px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x; */
    clip-path: polygon(
        0 100%,
        0 0,
        100% 0,
        100% 100%,
        0% 100%,
        0% 100%,
        50% 100%,
        50% 100%,
        0% 100%,
        0% 100%,
        100% 100%,
        100% 100%,
        100% 100%,
        100% 100%,
        100% 100%,
        100% 100%,
        100% 100%
    );
    /* -webkit-mask: var(--mask);
                mask: var(--mask); */
}

.form-signin {
    border-radius: 0px 0px 20% 20%;
    background: -webkit-linear-gradient($standard-gradient);
    background: linear-gradient($standard-gradient);
}

.login-page {
    background: -webkit-linear-gradient($standard-gradient);
    background: linear-gradient($standard-gradient);
}

.shadowHeader {
    border-radius: 0% 59% 48% 45%;
    padding-bottom: 0rem;
    background-color: rgba(var(--bs-primary-rgb), 0.5);
}

.main-logo span {
    font-family: "Pacifico", cursive;
}

header,
.form-signin {
    .main-logo img {
        width: calc(28px + 0.9vw);
    }
}

.navbar-brand span.full {
    display: inline;
}

.navbar-brand span.short {
    display: inline;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.welcome {
    h1 {
        font-weight: bold;
        color: $orange;
    }
}

.progress-circle {
    width: 3rem;
    height: 3rem;
    background: conic-gradient(
        rgba(var(--bs-primary-rgb), 1) calc(var(--progress) * 1%),
        var(--bs-secondary-bg) 0
    );
}

.progress-content {
    width: 2.6rem;
    height: 2.6rem;
}

.accordionToggle {
    transition: rotate 0.5s ease;
}

.accordionToggle.closed {
    rotate: 360deg;
}

.accordionToggle.opened {
    rotate: 90deg;
}

.number-picker {
    button.btn-link {
        padding: 0rem 0 !important;
    }
}

//  ---

.card-highlight {
    background: -webkit-linear-gradient($standard-gradient);
    background: linear-gradient($standard-gradient);
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 0.75rem;
}

.form-label {
    margin-bottom: 0.1rem;
}

.list-group-title {
    font-size: 0.8em;
    transform: translate(0, 50%);
    z-index: 10;
    position: relative;
}

.dropdown-menu {
    --bs-dropdown-link-active-color: var(--bs-green);
    --bs-dropdown-link-active-bg: transparent;
}
i.bi {
    padding-right: 0.45rem;
}
small {
    font-size: 0.725em;
}
.main-layout {
    padding-bottom: $end-container-space;
    padding-top: $spacer;
}
