$blue: #ff5500;
$green: #004921;

$standard-gradient: 208deg, #e7592e 0%, #eb2f00 30%, #ff5500 70%, #ff5500 90%;
// $body-bg: #fefaf7;

$spacer: 0.9rem;

$font-family-sans-serif: "Nunito", sans-serif;
$font-family-base: $font-family-sans-serif;
$headings-font-family: inherit;

$headings-color: inherit;

$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-sm: 0.875rem;

$line-height-base: 1.25;

$border-radius: 0.4rem;
$border-radius-lg: 0.3rem;
$border-radius-sm: 0.2rem;


$input-btn-padding-y: 0.4rem;
$input-btn-padding-x: 0.65rem;
$input-btn-line-height: 1.15;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";

body {
    background-color: #fefaf7 !important;
}

header {
    border-radius: 0px 0px 50% 50%;
    background: -webkit-linear-gradient($standard-gradient);
    background: linear-gradient($standard-gradient);
}

.shadowHeader {
    border-radius: 0% 59% 48% 45%;
    padding-bottom: 0rem;
    background-color: rgba(var(--bs-primary-rgb), 0.5)
}

.main-logo span {
    font-family: "Pacifico", cursive;
}

header .main-logo img {
    width: calc(28px + 0.9vw);
}

.navbar-brand span.full {
    display: none;
    display: inline;
}

.navbar-brand span.short {
    display: inline;
}

.navbar-toggler:focus {
    box-shadow: none;
}
//  ---

.bg-white-25 {
    --bs-bg-opacity: 0.25;
    background-color: rgba(var(--bs-white-rgb), var(--bs-bg-opacity)) !important;
}

.border-left-decorated {
    border-left: 5px var(--bs-border-style) rgb(var(--bs-primary-rgb)) !important;
    border-left: 5px var(--bs-border-style) var(--bs-gray-400) !important;
}

.card-highlight {
    background: -webkit-linear-gradient($standard-gradient);
    background: linear-gradient($standard-gradient);
}

.feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    color: #fff;
    border-radius: .75rem;
}

.accordion button {
    padding: 0.45rem !important;
    background: none
}

.form-control {
    padding: 0.3rem 0.4rem !important;
    font-size: 1rem;
}

.form-label {
    margin-bottom: 0.1rem;
}